<% include ../layouts/header %>
<% if(usersession.flashmessage){ %> <%= usersession.flashmessage %> <% } %>
<form action="../contact" method="post">
       <%
	   if(errors.length>0){
		   %>
		   <ul>
		     <%
			 for(var i=0; i<errors.length; i++){
			     %>
			     <li style="color:red">
				    <%= errors[i] %>   
				 </li>
			     <%
			 }
			 %>
		   </ul>
		   <%
	   }
	   %>  
	   
	   <div> 
		   <label>User Name</label>
		   <span>
			  <input type="text" name="name" value="<% if(typeof postdata['name']!="undefined"){ %> <%= postdata['name'];  %> <% } %>"/>
		   </span>
	   </div>	   
	   
	   <div>
		   <label>Email</label>
		   <span>
			  <input type="text" name="email" value="<% if(typeof postdata['email']!="undefined"){ %> <%= postdata['email'];  %> <% } %>"/>
		   </span>
	   </div>	   
	   
	   <div>
		  <label>Message</label>
		  <span>
		    <textarea name="message"><% if(typeof postdata['message']!="undefined"){ %> <%= postdata['message'];  %> <% } %></textarea>
		  </span>
	   </div>	 
	   
	  <input type="submit" value="Submit"/>
</form>
<% include ../layouts/footer %>